:root {
  --sidebar-width: 300px;
  --background-color: hsl(240, 5.9%, 11%);
  --border-width: 1px;
  --border-color: hsl(240, 5.9%, 11%);
}

html {
  /* color: white; */
  /* background-color: var(--background-color); */
  /* font-family: "Fira Code", monospace; */
  font-optical-sizing: auto;
}

body {
  font-family: var(--sl-font-mono);
}
